.button {
    font-size: 2.2rem;
    font-weight: 500;
    color: $white-color;
    background-color: $button-color;
    padding: 2rem 5rem;
    border-radius: 50px;
    text-align: center;
    border: none;

    &:hover {
        background-color: $button-hover-color;
    }

    &:active {
        background-color: $button-hover-color;
        outline: 5px $email-color solid;  
    }
}

.button--small {
    font-size: 1.6rem;
    padding: 1.6rem 3rem;
}

.button--booking {
    font-size: 1.8rem;
    padding: 1.9rem;
    width: 100%;
    margin-bottom: 10rem;
}