.header__big {
        font-size: 8rem;
        font-family: $tertiary-font;
        font-weight: 600;
        line-height: 102%;
}

.header--black {
    color: $text-color;
}

.header--grey {
    color: $placeholder-color;
}