$white-color: #FFFFFF;
$text-color: #343541;
$background-color: #FEF6F6;
$button-color: #EC1115;
$button-hover-color: #A60C0E;
$email-color: #F47073; /*also border*/
$info-color: #292A33;
$input-color: #F0F0F0;
$placeholder-color: #85868D;
$input-color: #F0F0F0;
$input-hover-color: #E5E5E5;
$input-border-color: #2F80ED;
$input-background-color: #2F80ED1A;
$tag-color: #FEF6F6;
$tag-text-color: #F47073;
$tag-grey-color: #F7F7F7;
$success-color: #27AE60;




